$primary-font-family: "Source Sans Pro", sans-serif;
$secondary-font-family: "Source Code Pro", monospace;

$font-regular: 300;
$font-bold: 900;

$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.8);
$color-dark: #222529;
$color-secondary-dark: #1D1E20;
$color-accent: #56c6b1;

$img-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.6),
             0.15em 0.15em .5em rgba(0, 0, 0, 1);

$h1-size: 3rem;
$h2-size: 2.25rem;
$h3-size: 1.25rem;
$p-size: 1rem;

$section-padding: 4em;
